# Google Keep Env Vars
# Name of list in Google Keep
KEEP_LIST_NAME="❗Placeholder❗"

# Google Account Username
GOOGLE_USERNAME="❗placeholder@example.com❗"

# Google Account Master Token (see https://github.com/simon-weber/gpsoauth?tab=readme-ov-file#alternative-flow)
GOOGLE_MASTER_TOKEN="aas_et/❗PLACEHOLDER❗"

# Name of Lambda to Post results to (for dual Lambda setup)
LAMBDA_NAME_ANYLIST="❗PLACEHOLDER❗"